<a href="https://colab.research.google.com/github/lucaspierref/pythonprograms/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuplas

### Criando uma tupla

In [ ]:
# Listas:
L = [0, 1, 2, 3, 4]
L1 = [10]
L0 = [] 

print(L, L1, L0)

In [ ]:
# Tuplas:
t = (0, 1, 2, 3, 4)

#t1a = ('abc')    # isso é uma string
#t1b = (10)       # isto é um inteiro...
#t1  = (10,)      # isso é uma tupla...

#print(t, type(t))
#print(t1a, type(t1a))
#print(t1b, type(t1b))
#print(t1, type(t1))

In [ ]:
# tupla vazia
t0a = ()
t0b = tuple()

print(t0a, type(t0a))
print(t0b, type(t0b))

## Função tuple( )

In [ ]:
x = int(10.3) 
print(x, type(x))
print()

x = str(123.456e-8)
print(x, type(x))
print()

x = list( 'abcd' )
print(x, type(x) )
print()

In [ ]:
# tuple( )
x = tuple( [0, 1, 2, 3] )
print(x, type(x) )
print()

x = tuple( 'xyzw' )
print(x, type(x) )
print()

#x = tuple( 10 )   # ERROR!
#print(x, type(x) )
#print()

## Acessando os elementos de uma tupla

In [ ]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print( t[2] )
print( t[-1] )    # último elemento
print( t[-2] )    # penúltimo
print( t[-3])

## Fatiamento de tuplas

In [ ]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
#   (0, 1, 2, |3, 4, 5, 6, |7, 8, 9)

print( t[3 : 7] )
print( t[  : 7] )
print( t[3 :  ] )

print( t[3 : -3] )

## Extração alternada de elementos de uma tupla

In [ ]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print( t[0 :  : 2] )
print( t[1 :  : 2] )

## Aninhamento de tuplas e/ou listas

In [ ]:
vogais = tuple( 'aeiou' )
consoantes = tuple( 'bcdfghjklmnpqrstvxwz' )
letras = (vogais, consoantes)

print(vogais, consoantes)
print(letras)
print()

print(letras[0])
print(letras[1])
print()

print( letras[0][2]   )
print( letras[1][10]   )

In [ ]:
t = (1, 2, (3, (4, 5, (6, 7, 8) ), 9), 10)
#   0      1   2      3    (niveis)

print( t[2] )
print()

print( t[2][1][2] )
print()

print( t[2][1][2][1] )
print()

## Concatenação de tuplas

In [ ]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

tupla3 = tupla1 + tupla2

print(tupla1, tupla2)
print(tupla3)
print()

In [ ]:
# Exemplo 2:

cores = ('preto', 'marrom', 'vermelho', 'laranja', 'verde', 'azul', 'violeta')
print(cores)

cores2 = cores[-2 : ] + ("branco", ) + cores[0: 2]
print(cores2)

## Replicação de tuplas

In [ ]:
t = (0, 1)
t2 = 10 * t

print(t)
print(t2)

## Operação de Associação
* in
* not in
[link text](https://)

In [ ]:
t = (1, 2, 3)

print( 2 in t )
print( 5 in t )
print()

print( 2 not in t )
print( 5 not in t )

## Comparação de tuplas

In [ ]:
# Comparação de strings:

stra = "Carta"
strb = "Barco"
strc = "Carla"

print( stra == strb )
print( stra != strb )
print()

print( stra < strb )
print( stra > strb )
print()

print( stra < strb )
print( stra > strb )

In [ ]:
# Comparação de tuplas:
t = (1, 2, 3)
u = (4, 5, 6)

# igualdade / diferença:
print( t == u )
print( t != u )
print()

# <, <= 
print( t < u )
print( t <= u )
print( u < t )
print()

# >, >=
print( t < u )
print( t <= u )

## Métodos de tuplas

In [ ]:
# t.count(x) 
# retorna o número de ocorrências do elemento x na tupla t

t = 3 * tuple( 'abcdefg')
print(t)
print( t.count('a') )
print()

print( t.count('z') )

In [ ]:
# t.index(x)
# t.index(x, start, end)
# retorna o índice da primeira ocorrência do elemento x na tupla t

t = 3 * tuple( 'abcdefg')
print( t.index('b') )

print( t.index('b', 4) )

# print( t.index('z') )   se x não existe --> exceção

## Tuplas são IMUTÁVEIS.

In [ ]:
# Função id(x):
a = 10
print(a, id(a))

a = 1000
print(a, id(a))

In [ ]:
# Exemplo 1:
L = [0, 1, 2, 3, 4]
print(L, id(L) )
print(id(L[0]), id(L[1]), id(L[2]), id(L[3]), id(L[4]) )
print()

L[2] = 20
print(L, id(L) )
print(id(L[0]), id(L[1]), id(L[2]), id(L[3]), id(L[4]) )
print()

In [ ]:
# Exemplo 2:
t = (0, 1, 2, 3, 4)
print(t)

t[2] = 20   # NÃO É PERMITIDO.
print(t)

In [ ]:
# Exemplo 3:
x = 2
lista = [0, 1, x, 3, 4]
print(x, id(x))

print(lista, id(lista), id( lista[2] )  )

print()

x = 20
print(x, id(x))
print(lista, id(lista), id(lista[2]) )

In [ ]:
# Exemplo 4:
lista = [3, 4, 5]

t = (0, 1, 2, lista, 6, 7, 8)

print(lista, id(lista) )
print(t, id(t), id(t[3]), id(t[3][1]) )
print()

t[3][1] = 4000

print(lista, id(lista) )
print(t, id(t), id(t[3]), id(t[3][1]) )
print()

## Omissão de perêntesis e desempacotamento de tuplas

In [ ]:
# omissão de parêntesis
a = 1,2
print(a, type(a)) 
print()

b = 1,
print(b, type(b))
print()

c = 1, 2, 3, 4
print(c, type(c))

In [ ]:
# omissão de parêntesis em funções
def f(x):
  #return (x, x**2, x**3, x**4) 
  return x, x**2, x**3, x**4

x = 3
y = f(x)
print(y, type(y))

In [ ]:
# Desempacotamento de tuplas

a = 1,2
(b, c) = (1, 2)
print(b, c)
print()

(x, y) = 1, 2
print(x, y)

z, w = 1, 2
print(z, w)

In [ ]:
# Desempacotamento:

coord = ( (1, 2), (1, 7), (-2, 5), (-3, -8), (-1, 9) )

for elemento in coord:
  print(elemento)

print()

for x, y in coord:
  print("x=", x, " y=", y)

In [ ]:
# del
(a, b) = 1, 2
del (a, b)

(c, d) = (1, 2)
del c, d

## Número de elementos de uma tupla

In [ ]:
t = (0, 1, 2, 3, 4)
print( len(t) )

print( len( tuple() ) )