<a href="https://colab.research.google.com/github/lucaspierref/pythonprograms/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuplas

### Criando uma tupla

In [ ]:
# Listas:
L = [0, 1, 2, 3, 4]
L1 = [10]
L0 = [] 

print(L, L1, L0)

[0, 1, 2, 3, 4] [10] []

In [ ]:
# Tuplas:
t = (0, 1, 2, 3, 4)

t1a = ('abc')    # isso é uma string
t1b = (10)       # isto é um inteiro...
t1  = (10,)      # isso é uma tupla...

print(t, type(t))
print(t1a, type(t1a))
print(t1b, type(t1b))
print(t1, type(t1))

(0, 1, 2, 3, 4) <class 'tuple'>
abc <class 'str'>
10 <class 'int'>
(10,) <class 'tuple'>

In [ ]:
# tupla vazia
t0a = ()
t0b = tuple()

print(t0a, type(t0a))
print(t0b, type(t0b))

() <class 'tuple'>
() <class 'tuple'>

## Função tuple( )

In [ ]:
x = int(10.3) 
print(x, type(x))
print()

x = str(123.456e-8)
print(x, type(x))
print()

x = list( 'abcd' )
print(x, type(x) )
print()

10 <class 'int'>

1.23456e-06 <class 'str'>

['a', 'b', 'c', 'd'] <class 'list'>

In [ ]:
# tuple( )
x = tuple( [0, 1, 2, 3] ) # Isto é uma tabela
print(x, type(x) )
print()

x = tuple( 'xyzw' ) # Isto é uma string
print(x, type(x) )
print()

x = tuple( 10 )   # ERROR!
print(x, type(x) )
print()

(0, 1, 2, 3) <class 'tuple'>

('x', 'y', 'z', 'w') <class 'tuple'>

TypeError: 'int' object is not iterable

## Acessando os elementos de uma tupla

In [ ]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print( t[2] )
print( t[-1] )    # último elemento
print( t[-2] )    # penúltimo
print( t[-3])

2
9
8
7

## Fatiamento de tuplas

In [ ]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
#   (0, 1, 2, |3, 4, 5, 6, |7, 8, 9)

print( t[3 : 7] )
print( t[  : 7] )
print( t[3 :  ] )
print( t[3 : -3] )

(3, 4, 5, 6)
(0, 1, 2, 3, 4, 5, 6)
(3, 4, 5, 6, 7, 8, 9)
(3, 4, 5, 6)

## Extração alternada de elementos de uma tupla

In [ ]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print( t[0 :  : 2] )
print( t[1 :  : 2] )

(0, 2, 4, 6, 8)
(1, 3, 5, 7, 9)

## Aninhamento de tuplas e/ou listas

In [ ]:
vogais = tuple( 'aeiou' )
consoantes = tuple( 'bcdfghjklmnpqrstvxwz' )
letras = (vogais, consoantes)

print(vogais, consoantes)
print(letras)
print()

print(letras[0])
print(letras[1])
print()

print( letras[0][2]   )
print( letras[1][10]   )

('a', 'e', 'i', 'o', 'u') ('b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'x', 'w', 'z')
(('a', 'e', 'i', 'o', 'u'), ('b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'x', 'w', 'z'))

('a', 'e', 'i', 'o', 'u')
('b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'x', 'w', 'z')

i
n

In [ ]:
t = (1, 2, (3, (4, 5, (6, 7, 8) ), 9), 10)
#   0      1   2      3    (niveis)

print( t[2] )
print()

print( t[2][1][2] )
print()

print( t[2][1][2][1] )
print()

(3, (4, 5, (6, 7, 8)), 9)

(6, 7, 8)

7

## Concatenação de tuplas

In [ ]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

tupla3 = tupla1 + tupla2 # Operador lógico concatena as duas duplas

print(tupla1, tupla2)
print(tupla3)
print()

(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [ ]:
# Exemplo 2:

cores = ('preto', 'marrom', 'vermelho', 'laranja', 'verde', 'azul', 'violeta')
print(cores)

cores2 = cores[-2 : ] + ("branco", ) + cores[0: 2]
print(cores2)

('preto', 'marrom', 'vermelho', 'laranja', 'verde', 'azul', 'violeta')
('azul', 'violeta', 'branco', 'preto', 'marrom')

## Replicação de tuplas

In [ ]:
t = (0, 1)
t2 = 10 * t

print(t)
print(t2)

(0, 1)
(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Operação de Associação
* in
* not in
[link text](https://)

In [ ]:
t = (1, 2, 3)

print( 2 in t )
print( 5 in t )
print()

print( 2 not in t )
print( 5 not in t )

True
False

False
True

## Comparação de tuplas

In [ ]:
# Comparação de strings:

stra = "Carta"
strb = "Barco"
strc = "Carla"

print( stra == strb ) #Igual
print( stra != strb ) #Diferente
print()

print( stra < strb ) #Menor
print( stra > strb ) #Maior
print()

print( stra < strb )
print( stra > strb )

False
True

False
True

False
True

In [ ]:
# Comparação de tuplas:
t = (1, 2, 3)
u = (4, 5, 6)

# igualdade / diferença:
print( t == u )
print( t != u )
print()

# <, <= 
print( t < u )
print( t <= u )
print( u < t )
print()

# >, >=
print( t < u )
print( t <= u )

False
True

True
True
False

True
True

## Métodos de tuplas

In [ ]:
# t.count(x) 
# retorna o número de ocorrências do elemento x na tupla t

t = 3 * tuple( 'abcdefg')
print(t)
print( t.count('a') )
print()

print( t.count('z') )

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c', 'd', 'e', 'f', 'g')
3

0

In [ ]:
# t.index(x)
# t.index(x, start, end)
# retorna o índice da primeira ocorrência do elemento x na tupla t

t = 3 * tuple( 'abcdefg')
print( t.index('b') )

print( t.index('b', 4) )

# print( t.index('z') )   se x não existe --> exceção

1
8

## Tuplas são IMUTÁVEIS.

In [ ]:
# Função id(x):
a = 10
print(a, id(a))

a = 1000
print(a, id(a))

10 94202625358816
1000 140414097810224

In [ ]:
# Exemplo 1:
L = [0, 1, 2, 3, 4]
print(L, id(L) )
print(id(L[0]), id(L[1]), id(L[2]), id(L[3]), id(L[4]) )
print()

L[2] = 20
print(L, id(L) )
print(id(L[0]), id(L[1]), id(L[2]), id(L[3]), id(L[4]) )
print()

[0, 1, 2, 3, 4] 140414095156232
94202625358496 94202625358528 94202625358560 94202625358592 94202625358624

[0, 1, 20, 3, 4] 140414095156232
94202625358496 94202625358528 94202625359136 94202625358592 94202625358624

In [ ]:
# Exemplo 2:
t = (0, 1, 2, 3, 4)
print(t)

t[2] = 20   # NÃO É PERMITIDO.
print(t)

(0, 1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Exemplo 3:
x = 2
lista = [0, 1, x, 3, 4]
print(x, id(x))

print(lista, id(lista), id( lista[2] )  )

print()

x = 20
print(x, id(x))
print(lista, id(lista), id(lista[2]) )

2 94202625358560
[0, 1, 2, 3, 4] 140414124413384 94202625358560

20 94202625359136
[0, 1, 2, 3, 4] 140414124413384 94202625358560

In [ ]:
# Exemplo 4:
lista = [3, 4, 5]

t = (0, 1, 2, lista, 6, 7, 8)

print(lista, id(lista) )
print(t, id(t), id(t[3]), id(t[3][1]) )
print()

t[3][1] = 4000

print(lista, id(lista) )
print(t, id(t), id(t[3]), id(t[3][1]) )
print()

[3, 4, 5] 140414095948936
(0, 1, 2, [3, 4, 5], 6, 7, 8) 140414097384224 140414095948936 94202625358624

[3, 4000, 5] 140414095948936
(0, 1, 2, [3, 4000, 5], 6, 7, 8) 140414097384224 140414095948936 140414095121648

## Omissão de parêntesis e desempacotamento de tuplas

In [ ]:
# omissão de parêntesis
a = 1,2
print(a, type(a)) 
print()

b = 1,
print(b, type(b))
print()

c = 1, 2, 3, 4
print(c, type(c))

(1, 2) <class 'tuple'>

(1,) <class 'tuple'>

(1, 2, 3, 4) <class 'tuple'>

In [ ]:
# omissão de parêntesis em funções
def f(x):
  #return (x, x**2, x**3, x**4) 
  return x, x**2, x**3, x**4

x = 3
y = f(x)
print(y, type(y))

(3, 9, 27, 81) <class 'tuple'>

In [ ]:
# Desempacotamento de tuplas

a = 1,2
(b, c) = (1, 2)
print(b, c)
print()

(x, y) = 1, 2
print(x, y)

z, w = 1, 2
print(z, w)

1 2

1 2
1 2

In [ ]:
# Desempacotamento:

coord = ( (1, 2), (1, 7), (-2, 5), (-3, -8), (-1, 9) )

for elemento in coord:
  print(elemento)

print()

for x, y in coord:
  print("x=", x, "y=", y)

(1, 2)
(1, 7)
(-2, 5)
(-3, -8)
(-1, 9)

x= 1  y= 2
x= 1  y= 7
x= -2  y= 5
x= -3  y= -8
x= -1  y= 9

In [ ]:
# del
(a, b) = 1, 2
del (a, b)

(c, d) = (1, 2)
del c, d

## Número de elementos de uma tupla

In [ ]:
t = (0, 1, 2, 3, 4)
print( len(t) )

print( len( tuple() ) )

5
0